extends layout 

block content
    div.m-4 
        h1 #{title}: #{category.name} 

        if category_products.length 

            p #[strong Delete The following Products before attempting to delete this category.] 

            div(style='margin-left:20px; margin-top:20px') 

                h4 Products 

                dl 
                each product in category_products 
                    dt 
                        a(href=product.url) #{product.name} 
                        p QTD: #{product.qtd}
                        p Price: #{product.price}
                    dd  #{product.disc} 
        else 
            p Do you really want to delete this Category? 
            
            form(action='', method="POST") 
                div.form-group 
                    input#nameid.from-control(type="hidden", name='nameid', required='true', value=category.id) 

                    button.btn.btn-danger(type="submit") Delete