extends layout 

block content 
    div.m-4
        h1 Category: #{category.name} 
        div
            h4 Products 
            dl 
                each product in category_products 
                    dt 
                        a(href=product.url) #{product.name} 
                        p Price: #{product.price}
                        p QTD: #{product.qtd}
                        p Disc: #{product.disc}
                else 
                    p This Category has not Product 
        p 
            a(href=category.url+'/delete') Delete Category 
        p 
            a(href=category.url+'/update') Update Category  