extends layout 

block content 
    div.m-4.detail
        h1 Category: #{category.name} 
        h4 Products 
        div          
            dl.grid 
                each product in category_products 
                    dt 
                        div.name
                            a(href=product.url) #{product.name} 
                        p Price: #{product.price}
                        p Qtd: #{product.qtd}
                        p Disc: #{product.disc}
                else 
                    p This Category has not Product 
        p 
            a.btn.btn-danger(href=category.url+'/delete') Delete Category 
        p 
            a.btn.btn-dark(href=category.url+'/update') Update Category  