extends layout 

block content 
    h1.tit= title 
    div.m-4.product
        div   
            ul 
                each list_c in list_category 
                    li.m-2
                            div.proName
                                a(href=list_c.url) #{list_c.name} 
                            ul.produ
                                each product in list_product 
                                    if(list_c.name==product.category.name)
                                        li 
                                            a(href=product.url) #{product.name} 
                else 
                    li There are no Products