extends layout 

block content 
    div.m-4 
        h1 #{product.name} 
        
        p #[strong Category:] 
            a(href=product.category.url) #{product.category.name} 
        p #[strong Discription:] #{product.disc} 
        p #[strong Price:] #{product.price} $US
        if(product.qtd == 1)
            p #[strong Qt:] #{product.qtd} Unity
        else 
            p #[strong Qt:] #{product.qtd} Unities
        hr
        p
            a.btn.btn-danger(href=product.url+'/delete') Delete Product
        p
            a(href=product.url+'/update') Update Product 